.season-bg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.season-spring {
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/bc13cffb28570170dbcb7c621a4d7d6d.gif);
}

.season-summer {
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/c3b1faa51e16be4795d6e16148b0b22f.gif);
}

.season-autumn {
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/4981bd131f7029e42cc80b3a54f8910f.gif);
}

.season-winter {
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/3395003a459e09606eb4ed463624e665.gif);
}

