html, body {
  font-family: Open Sans,Helvetica,STHeiti,"Microsoft YaHei",Verdana,Arial,Tahoma,sans-serif;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  user-select: none;
 }

*:focus {
  outline: none;
}


li {
  list-style: none;
}

