html, body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 500px;
  margin: 0 auto;
  background: #333;
}

.rc-fullpage-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.rc-fullpage-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.anm-element {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(0, 0, 0);
}
