html, body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 500px;
  margin: 0 auto;
}

.rc-fullpage-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.rc-fullpage-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.content-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  text-align: center;
}
