.blackhole-bg {
  left: 0;
  top: -40px;
  bottom: 0;
  right: 0;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/972301f32c7d0526123a98c2c16c4b2b.png);
}

.blackhole-star {
  left: 50%;
  top: 50%;
  width: 649px;
  height: 535.5px;
  margin-left: -323.5px;
  margin-top: -294.75px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/7e8c9f416fc2bae5e2d353a97a19c082.png);
}

.blackhole-star2 {
  left: 0;
  top: 108px;
  width: 320px;
  height: 320px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/5251ffb4e07120813014fb0d3060ca75.png);
  border-radius: 50%;
}

.blackhole-text1 {
  left: 50%;
  margin-left: -66.75px;
  top: 185px;
  width: 133.5px;
  height: 128px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/986ad95cab382d578726e93ae9104e5c.png);
  opacity: 0;
  z-index: 30;
}

.blackhole-text2 {
  left: 50%;
  margin-left: -98px;
  top: 150px;
  width: 196px;
  height: 188px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/d9f725549de477c32e1d5b0ddf58598a.png);
  opacity: 0;
  z-index: 30;
}

.blackhole-text3 {
  left: 50%;
  margin-left: -139.75px;
  top: 125px;
  width: 279.5px;
  height: 242.5px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/d6297ea74f15aca8d2bb552157c9660e.png);
  opacity: 0;
  z-index: 30;
}

.blackhole-chemney {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: scale(0.01);
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/b3dbdb8525bd497f2c399218c1b34be7.gif);
}

.blackhole-city {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/8cd3e9d49f03a07c9a86b765b4959285.png);
}

.blackhole-window {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: scale(0.001);
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/c49edad38b0b3779ae650d84674155e9.png);
}

.blackhole-btn {
  left: 50%;
  top: 440px;
  width: 171px;
  height: 37.5px;
  margin-left: -85.5px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/0e7d23b3332fdedc5403dfb5a7766e48.png);
  box-shadow: 0 0 5px 0 rgba(255,255,255,.1);
  border-radius: 3px;
  opacity: 0;
}

.blackhole-hand-btn {
  left: 50%;
  top: 50%;
  width: 116.5px;
  height: 172px;
  transform: translate3d(-50%, -80px, 0);
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/bc1e644707f3a63c0066e307a1289988.png);
  opacity: 0;
}

.past, .active {
  .blackhole-text1 {
    animation: .3s fadeIn ease-out forwards 1s,
      1s whirlpool ease-in-out forwards 3.5s;
  }
  .blackhole-text2 {
    animation: .3s fadeIn ease-out forwards 2s,
      1.5s whirlpool ease-in-out forwards 3.6s;
  }
  .blackhole-text3 {
    animation: .3s fadeIn ease-out forwards 3s,
      2s whirlpool ease-in-out forwards 3.7s;
  }

  .blackhole-star {
    animation: 5s linear blackholeStar infinite;
  }

  .blackhole-btn {
    animation:
      .5s fadeIn ease-out forwards 5s,
      2s blackholeBtn ease-in-out infinite alternate 5s;
  }

  .boom {
    .blackhole-bg {
      transform-origin: 50% 42%;
      animation: 1s blackHoleZoomOut ease-in forwards;
    }

    .blackhole-chemney {
      animation: .75s blackHoleZoomIn ease-in forwards;
    }

    .blackhole-hand-btn {
      animation: .5s fadeIn ease-out forwards 2.5s;
    }
  }

  .blackhole-window {
      animation: .5s blackHoleZoomIn ease-in forwards 1s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes whirlpool {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0);
    opacity: .6;
  }
}

@keyframes blackHoleZoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(100);
    opacity: 0;
  }
}

@keyframes blackHoleZoomIn {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blackholeBtn {
  0% {
    box-shadow: 0 0 5px 0 rgba(255,255,255,.1);
  }
  100% {
    box-shadow: 0 0 5px 3px rgba(255,255,255,.3);
  }
}

@keyframes blackholeStar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
