.blackhole-bg {
  left: 0;
  top: -20px;
  bottom: 0;
  right: 0;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/972301f32c7d0526123a98c2c16c4b2b.png);
}

.blackhole-star {
  left: 50%;
  top: 50%;
  width: 649px;
  height: 535.5px;
  margin-left: -323.5px;
  margin-top: -294.75px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/7e8c9f416fc2bae5e2d353a97a19c082.png);
}

.blackhole-star2 {
  left: 0;
  top: 108px;
  width: 320px;
  height: 320px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/5251ffb4e07120813014fb0d3060ca75.png);
  border-radius: 50%;
}

.blackhole-text1 {
  left: 50%;
  margin-left: -66.75px;
  top: 175px;
  width: 133.5px;
  height: 128px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/986ad95cab382d578726e93ae9104e5c.png);
  opacity: 0;
  z-index: 30;
}

.blackhole-text2 {
  left: 50%;
  margin-left: -98px;
  top: 140px;
  width: 196px;
  height: 188px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/d9f725549de477c32e1d5b0ddf58598a.png);
  opacity: 0;
  z-index: 30;
}

.blackhole-text3 {
  left: 50%;
  margin-left: -139.75px;
  top: 115px;
  width: 279.5px;
  height: 242.5px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/d6297ea74f15aca8d2bb552157c9660e.png);
  opacity: 0;
  z-index: 30;
}

.blackhole-btn {
  left: 50%;
  top: 440px;
  width: 171px;
  height: 37.5px;
  margin-left: -85.5px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/20/0e7d23b3332fdedc5403dfb5a7766e48.png);
  box-shadow: 0 0 5px 0 rgba(255,255,255,.1);
  border-radius: 3px;
  opacity: 0;
  animation:
    .5s fadeIn ease-out forwards 6.5s,
    3s blackholeBtn ease-in-out infinite alternate 8s;
}

.active {
  .blackhole-text1 {
    animation: .3s fadeIn ease-out forwards 1s,
      1s whirlpool ease-out forwards 3.5s;
  }
  .blackhole-text2 {
    animation: .3s fadeIn ease-out forwards 2s,
      1s whirlpool ease-out forwards 3.5s;
  }
  .blackhole-text3 {
    animation: .3s fadeIn ease-out forwards 3s,
      1s whirlpool ease-out forwards 3.5s;
  }

  .blackhole-bg.boom {
    transform-origin: 50% 42%;
    animation: 1s blackHoleZoomOut ease-in forwards;
  }

  .blackhole-star {
    animation: 3s linear blackholeStar infinite;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes whirlpool {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0.01);
    opacity: .6;
  }
}

@keyframes blackHoleZoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(100);
    opacity: 0;
  }
}

@keyframes blackholeBtn {
  0% {
    box-shadow: 0 0 5px 0 rgba(255,255,255,.1);
  }
  100% {
    box-shadow: 0 0 5px 2px rgba(255,255,255,.3);
  }
}

@keyframes blackholeStar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
