.blow-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/697b47c79001ba88b5c37954d115ee9b.png);

  .circle-btn {
    bottom: 80px;
  }
}

.blow-fog2 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/5190ca66ec7c688dbe58fddfdbe77730.png);
}


.blow-fog3 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/27/5bbe5c5689c87c704510dcc62439e749.png);
}

.blow-text1 {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -60px, 0);
  width: 200px;
  height: 17.5px;
  background-image: url(https://img.yzcdn.cn/public_files/2016/05/27/8ca50d4bdcfa2460d9812bab1a510ae9.png);
}


.blow-text2 {
  bottom: 50px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 82px;
  height: 14.5px;
  background-image: url(https://img.yzcdn.cn/public_files/2016/05/27/5abf1c9b77f4b6893275dc54028769c8.png);
}
