.end-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://img.yzcdn.cn/public_files/2016/05/28/4655cf27c6989a3e759831ebf1502840.png);
}

.restart-btn {
  top: 390px;
  left: 20px;
  width: 120px;
  height: 30px;
}

.share-btn {
  top: 390px;
  right: 20px;
  width: 120px;
  height: 30px;
}

.share-cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  background-image: url(https://img.yzcdn.cn/public_files/2016/05/28/7522bfc1940a146e82422937a3659ac7.png);
}
