.lung-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/26/c9ff623c7e443cb325a588f192b50de9.png);
  background-position: top center;
}

.circle-btn {
  bottom: 60px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-radius: 50%;
  background-color: #fff;

  &::before, &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 1px solid white;
    transform: translate3d(-50%, -50%, 0) scale(.5);
    animation: 2s ease-in-out waterWave infinite;
    opacity: 0;
  }

  &::before {
    animation-delay: .7s;
  }
}

@keyframes waterWave {
  0% {
    width: 120px;
    height: 120px;
    opacity: 0;
  }

  10% {
    width: 120px;
    height: 120px;
    opacity: .6;
  }

  50% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }

  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}


.fadeIn {
  opacity: 0;
  animation: 1s fadeIn ease-out forwards;
}
