.lung-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/26/c9ff623c7e443cb325a588f192b50de9.png);
  background-position: top center;
}

.circle-btn {
  bottom: 60px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 54px;
  height: 54px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/26/ea83c1bc96835fa67c74ba74b8c93af1.png);
}
