.section-start-bg {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/start_bg.png');
}

.oxygen-bomb {
  left: 0;
  top: 108px;
  right: 0;
  bottom: 0;
  width: 154px;
  height: 414px;
  background-image: url('/assets/oxygen_bomb.png');
}

.section-start-haze {
  left: 120px;
  top: 220px;
  width: 190px;
  height: 121px;
  background-image: url('/assets/haze.png');
}

.active {
  .section-start-bg {
    //animation: start-bg-sliding 7s ease-out .5s forwards;
  }
  .section-start-haze {
    animation: haze-sliding 5s ease-out .5s forwards;
  }
}

@keyframes start-bg-sliding {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-5px, -3px, 0);
  }
}

@keyframes haze-sliding {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(20px, 0, 0);
  }
}
