.section-start {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('/assets/image1.jpg') no-repeat;
  background-size: cover;
  background-position: top center;
}

.oxygen-bomb {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('/assets/image2.png') no-repeat;
  background-size: cover;
  background-position: top center;
}
