.section-start2-bg {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/16/4341cc5f1963d4d12b16949c24196225.png);
}

.section-start2-people {
  left: 0;
  top: 0;
  width: 320px;
  height: 506px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/16/6c2e9be4ab4c7594c1ec15daf787e4fd.png);
  transform: translate3d(20px, 5px, 0);
}

.section-start2-haze {
  left: 30px;
  top: 360px;
  width: 190px;
  height: 121px;
  background-image: url(http://img.yzcdn.cn/public_files/2016/05/16/6ff0336216e9f1a4d9a66c906ec35b14.png);
  transform: translate3d(50px, 10px, 0);
}



.active {
  .section-start2-people {
    animation: start2-people-sliding .5s cubic-bezier(0.785, 0.135, 0.15, 0.86) .5s forwards;
  }
  .section-start2-haze {
    animation: start2-haze-sliding .6s cubic-bezier(0.785, 0.135, 0.15, 0.86) .5s forwards;
  }
}


@keyframes start2-people-sliding {
  0% {
    transform: translate3d(20px, 5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes start2-haze-sliding {
  0% {
    transform: translate3d(50px, 10px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
